@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    background: rgb(3, 3, 3);
    --text-color: #ffffff;
    --font: "Nunito Sans";
    --dark-color: #141414;
}

.center-me {
    margin: 0 auto;
}

.text {
    font-family: var(--font);
    color: #ffffff;
}

#cover-image {
    border-radius: 20px;
    margin-left: 6px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#audio-player {
    height: 50px;
    color-scheme: light dark;
    width:70%;
}

#player-container {
    display:flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-around; 
    border-radius: 10px;
    background: var(--dark-color);
    width: 60%;
    height: 50%;
}

#info-container {
    width: 60%;
}

#artist-title {
    font-weight: 200;
}

.scroll-container {
    scroll-behavior: smooth;
    border-radius: 5px;
    margin: 0 auto;
    width: 60%;
    max-height: 450px; /* Set a maximum height for the container */
    overflow-y: scroll; /* Enable vertical scrolling */
    padding-bottom: 10px;
}

/* Hide the scrollbar for webkit browsers */
.scroll-container::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
    background: transparent; /* Make the background transparent */
}

/* Hide the scrollbar for Firefox */
.scroll-container {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scroll-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* or nowrap for non-wrapping */
    font-family: var(--font);
    color: var(--text-color);
    min-height: 80px; /* Minimum height for each item */
    margin-bottom: 20px; /* Space between items */
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 5px;
}

#preview-song-container {
    margin-left: 20px;
}